/* Setting Layer */

/* black */
$black: #000;
$verified-black: #242424;
$black-dark-grey: #363636;

/* grey */
$grey: #808080;
$violet-powder: #c6cad8;
$ghost-white: #f7f8fc;
$lavender-blush: #ffeff5;
$border-grey: #c7cad8;

/* white */
$white: #fff;
$white-dr-white: #fafafa;
$white-ghost-white: #f7f8fc;

/* blue */
$denim: #253fb4;
$cold-lips: #9caae8;
$dark-midnight-blue: #043476;

/* green */
$secret-garden: #13ac6c;
$pale-green: #f8fffc;

/* red */
$infra-red: #fb436f;
$lifeguard: #e20000;
$little-red-corvette: #e60404;
$error-red: #f33;

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
$denim-shadow: #243fb433;
